<phpunit
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        stopOnError="true"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        stopOnRisky="false"
>
    <testsuites>
        <testsuite name="Your tests">
            <file>./tests/DateTest.php</file> 
            <file>./tests/ConvertTest.php</file> 
            <file>./tests/ValidationTest.php</file> 
        </testsuite>
    </testsuites>
</phpunit>